<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.QST.Using.Dao.PlayRecordMapper" >
  <resultMap id="BaseResultMap" type="com.QST.Using.Etitys.PlayRecord" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="first_play_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="times" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="last_play_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="song_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, first_play_time, times, last_play_time, user_id, song_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.QST.Using.Etitys.PlayRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_play_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_play_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_play_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.QST.Using.Etitys.PlayRecordExample" >
    delete from tb_play_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.QST.Using.Etitys.PlayRecord" >
    insert into tb_play_record (id, first_play_time, times, 
      last_play_time, user_id, song_id
      )
    values (#{id,jdbcType=INTEGER}, #{firstPlayTime,jdbcType=TIMESTAMP}, #{times,jdbcType=INTEGER}, 
      #{lastPlayTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{songId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.QST.Using.Etitys.PlayRecord" >
    insert into tb_play_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="firstPlayTime != null" >
        first_play_time,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="lastPlayTime != null" >
        last_play_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="songId != null" >
        song_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstPlayTime != null" >
        #{firstPlayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="lastPlayTime != null" >
        #{lastPlayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="songId != null" >
        #{songId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.QST.Using.Etitys.PlayRecordExample" resultType="java.lang.Integer" >
    select count(*) from tb_play_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_play_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.firstPlayTime != null" >
        first_play_time = #{record.firstPlayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.times != null" >
        times = #{record.times,jdbcType=INTEGER},
      </if>
      <if test="record.lastPlayTime != null" >
        last_play_time = #{record.lastPlayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.songId != null" >
        song_id = #{record.songId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_play_record
    set id = #{record.id,jdbcType=INTEGER},
      first_play_time = #{record.firstPlayTime,jdbcType=TIMESTAMP},
      times = #{record.times,jdbcType=INTEGER},
      last_play_time = #{record.lastPlayTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      song_id = #{record.songId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.QST.Using.Etitys.PlayRecord" >
    update tb_play_record
    <set >
      <if test="firstPlayTime != null" >
        first_play_time = #{firstPlayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="lastPlayTime != null" >
        last_play_time = #{lastPlayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="songId != null" >
        song_id = #{songId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.QST.Using.Etitys.PlayRecord" >
    update tb_play_record
    set first_play_time = #{firstPlayTime,jdbcType=TIMESTAMP},
      times = #{times,jdbcType=INTEGER},
      last_play_time = #{lastPlayTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      song_id = #{songId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>